.env
db.sqlite3
authentication/__pycache__
SummarEaseFyp/__pycache__
authentication/migrations/__pycache__
Email/__pycache__
Email/migrations/__pycache__
ParticipantEngagement_SentimentAnalysis/__pycache__
ParticipantEngagement_SentimentAnalysis/migrations/__pycache__
SummarEaseApp/__pycache__
SummarEaseApp/migrations/__pycache__

media/
frontend/.env
db.sqlite3
ParticipantEngagement_SentimentAnalysis/__pycache__/views.cpython-310.pyc
Todo_list/__pycache__/views.cpython-310.pyc
SummarEaseFyp/__pycache__/urls.cpython-310.pyc
SummarEaseFyp/__pycache__/settings.cpython-310.pyc
SummarEaseApp/__pycache__/views.cpython-310.pyc
ParticipantEngagement_SentimentAnalysis/__pycache__/views.cpython-310.pyc
SummarEaseApp/__pycache__/urls.cpython-310.pyc
chatbot/__pycache__/models.cpython-310.pyc
chatbot/__pycache__/views.cpython-310.pyc
.gitignore
ParticipantEngagement_SentimentAnalysis/__pycache__/views.cpython-310.pyc
SummarEaseApp/__pycache__/urls.cpython-310.pyc
SummarEaseApp/__pycache__/views.cpython-310.pyc
SummarEaseFyp/__pycache__/settings.cpython-310.pyc
SummarEaseFyp/__pycache__/urls.cpython-310.pyc
Todo_list/__pycache__/views.cpython-310.pyc
chatbot/__pycache__/models.cpython-310.pyc
chatbot/__pycache__/views.cpython-310.pyc
authentication/__pycache__/urls.cpython-310.pyc
authentication/__pycache__/views.cpython-310.pyc
