.env
db.sqlite3
authentication/__pycache__
SummarEaseFyp/__pycache__
authentication/migrations/__pycache__
Email/__pycache__
Email/migrations/__pycache__
ParticipantEngagement_SentimentAnalysis/__pycache__
ParticipantEngagement_SentimentAnalysis/migrations/__pycache__
SummarEaseApp/__pycache__
SummarEaseApp/migrations/__pycache__

media/
frontend/.env
db.sqlite3
authentication/__pycache__/
Email/migrations/__pycache__/
Email/__pycache__/
chatbot/migrations/__pycache__/
chatbot/__pycache__/views.cpython-310.pyc
authentication/migrations/__pycache__/
authentication/__pycache__/
chatbot/__pycache__/
ParticipantEngagement_SentimentAnalysis/__pycache__/
ParticipantEngagement_SentimentAnalysis/migrations/
SummarEaseApp/__pycache__/
SummarEaseApp/migrations/__pycache__/
SummarEaseFyp/__pycache__/
Todo_list/__pycache__/
Todo_list/migrations/__pycache__/
