.reset-pass
{
    min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top right, #6325CB,#5A29B8, #7A40E2);

}

.reset-pass-container
{
    width: 100%;
    max-width: 28rem; /* Equivalent to Tailwind's max-w-md */
    padding: 2rem; /* Equivalent to Tailwind's p-8 */
    border-radius: 0.5rem; /* Equivalent to Tailwind's rounded-lg */
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    backdrop-filter: blur(12px); /* Frosted glass effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); /* Soft shadow */
    border: 1px solid rgba(255, 255, 255, 0.2);  
}