





.result-page {
    background: linear-gradient(to top right, #6325CB, #5A29B8, #7A40E2);
    min-height: 100vh; /* Changed from height: 100% to min-height: 100vh */
    color: white;
    overflow-y: auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

.main-result-page {
    max-width: 58rem;
    margin: 0 auto; /* Center alignment */
    padding: 2rem;
}

.main-title
{
    font-size: 3.25rem;
    font-weight: bold;  
    margin-bottom: 2rem; 
    text-align: center;  
}

.result-content > * + * {
    margin-top: 16px; 
  }
  
  .result-content {
    margin-bottom: 32px; 
  }

  .box {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px); 
    border-radius: 1rem; 
    overflow: hidden; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.box-text {
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.1); 
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
    max-height: 24rem; 
    overflow-y: auto; 
    border-radius: 0 0 1rem 1rem; 

    box-sizing: border-box;

    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(133, 123, 141, 0.2); 
    
    overflow-x: hidden; 
}

.box-text::-webkit-scrollbar {
    width: 8px;
}

.box-text::-webkit-scrollbar-track {
    background: rgba(133, 123, 141, 0.2); 
    border-radius: 1rem;
}

.box-text::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 1rem;
    border: 2px solid rgba(133, 123, 141, 0.2);
}

.back-btn-div
{
    position: absolute;
    top: 2rem;
    left: 1rem;
}

.back-btn
{
    cursor: pointer;
    height: 10vh;
    width: 7vh;
}

.heading-div
{
    display: flex;
    margin-bottom: 10px;

}

.engagement-metrics-container
{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px) saturate(180%); 
    -webkit-backdrop-filter: blur(20px) saturate(180%); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    transition: all 0.3s ease;
    margin-bottom: 30px;
    
}

.icons
{
    height: 4vh;
    width: 4vh;
}

.heading
{
    font-size: 22px;
    margin-left: 5px;
    margin-top: -3px;
}